{%load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}" />
    <title>{{title}}</title>
  </head>

  <body>
    <header>
      <h1>Hello World</h1>
      <ul class="menu">
        <li><a href="/">Home</a></li>
        <li><a href="/account/">Accounts</a></li>
        <li><a href="/books/">Books</a></li>
        <li><a href="/dict/choice/">Dictation</a></li>
        <li><a href="/admin">Admin</a></li>
      </ul>
    </header>
    {% block mainbody %} {% endblock mainbody %}
    <footer>Copyright Kerwin 2021.</footer>
  </body>
</html>
